//  기본 색상 --------------------------------------------------------- /
$white: #ffffff;
$black: #101010;
$gray1: #f1f1f1;
$gray2: #dfdddd;
$mint: #90eabf;
$yellow: #fff1be;
$navy: #08003d;
$blue: #0ca7ff;
$light-blue: #75bdff;
$sky-blue: #b1daff;
$red: #ff2727;
$gray3: rgba(0, 0, 0, 0.3);

$initial-background-color: $sky-blue;
$day-background-color: $yellow;
$night-background-color: $navy;
$night-font-color: $white;
