@use './color' as var;
@use './unit' as *;

// 색상 테마
$colors: (
  'Green': var.$green,
  'Yellow': var.$yellow,
  'Brown': var.$brown,
  'Orange': var.$orange,
  'Blue': var.$blue,
);

@each $color, $color-value in $colors {
  .theme#{$color} {
    color: $color-value;
  }
}

// 스프라이트 배경이미지
.sprite {
  min-height: rem(60px);
  padding-left: rem(64px);
  background-image: url(./../assets/images/sprite_main.png);
  background-repeat: no-repeat;

  $sprites: Book, Board, News, Favorite, Twitter;
  $x: 0;
  $y: 0;

  @each $sprite in $sprites {
    $i: index($sprites, $sprite);
    &#{$sprite} {
      background-position: $x $y;
    }
    $y: $y - 115px;
  }
}
