// sprites
@use './color' as var; // 별칭 붙임
@use './unit' as *;

// 색상 테마
$colors: (
  "Green": var.$green,
  "Yellow": var.$yellow,
  "Brown": var.$brown,
  "Orange": var.$orange,
  "Blue": var.$blue,
);

@each $color, $color-value in $colors {
  // #{}으로 변수 값을 빼옴.
  .theme#{$color} {
    color: $color-value;
  }
}

// 스프라이트 배경이미지
.sprite {
  min-height: rem(60px);
  padding-left: rem(64px);
  background-image: url(./../assets/images/sprite_main.png);
  background-repeat: no-repeat;

  // 리스트 유형
  $sprites: Book, Board, News, Favorite, Twitter;
  $x: 0;
  $y: 0;

  @each $sprite in $sprites {
    // 인덱스를 index함수로 뽑아내서 i에 저장
    $i: index($sprites, $sprite);
    // #{} 변수를 뽑아줌.
    &#{$sprite} {
      background-position: $x $y;
    }
    // y값 115씩 감소
    $y: $y - 115px;
  }
}
