// home
@use './../utils/' as *;

// @custom-selector :--home-section-title .book__title,
// .news__title,
// .board__title,
// .favorite__title,
// .twitter__title;

// :--home-section-title{} 이렇게 사용함

.homeMain {
  // 섹션 공통 여백
  .book,
  .news,
  .board,
  .favorite,
  .twitter {
    margin: rem(24px) 0;
  }

  // 섹션 공통 제목 스타일
  [class*="__title"] {
    font-size: rem(20px);
    font-weight: 500;
    @include flexbox(column, center);
    margin-bottom: rem(16px);
  }
  // 섹션 영문 제목 공통 스타일
  [class*="__enTitle"] {
    font-size: rem(14px);
    margin-top: rem(4px);
  }

  // 섹션 본문 공통 스타일
  [class*="__summary"] {
    line-height: 1.5;
  }
  // 아이콘 공통
  .far,
  .fas {
    margin-right: rem(8px);
  }

  // 추천서적
  .book {
    &__cover {
      // 이미지 컨테이너
      width: 50%;
      @include autoMargin;
      text-align: center;
    }
    &__coverImage {
      @include responsive;
    }
    &__coverCaption {
      margin: rem(16px) 0;
    }
    &__info {
      // 인라인 요소를 가운데에 배치
      text-align: center;
      * {
        display: inline-block;
      }
      .ratingStar {
        display: block;
        color: $green;
        font-size: rem(24px);
        margin: rem(8px) rem(16px);
      }
    }
  }
  // 새소식
  .news {
    &__videoContainer {
      margin-bottom: rem(16px);
    }
    &__video {
      @include responsive(width);
    }

    &__iframeContainer {
      @include resposiveIframe;
    }

    &__date {
      display: block;
      text-align: right;
      margin-top: rem(8px);
    }

    // iframe은 컨테이너가 필요함
    // &__iframeContainer {
    //   width: 100%;
    //   position: relative;
    //   //   aspect-ratio: 16/9;
    //   height: 0 !important;
    //   //   padding-top: 56.25%;

    //   iframe {
    //     // 부모컨테이너 기준으로..
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //   }
    // }
  }
  // 게시판
  .board {
    position: relative;
    &__more {
      position: absolute;
      top: rem(4px);
      right: 0;
      padding: rem(8px);
    }
    &__item {
      @include flexbox(row, space-between);
      margin: rem(8px) 0;
    }
    &__link {
      display: block;
      padding: rem(8px) 0;
      @include ellipsis;
      margin-right: rem(8px);
    }
    &__date {
      // 날짜 줄바꿈 금지
      white-space: nowrap;
      padding: rem(8px) 0;
      vertical-align: baseline;
    }
  }

  // 인기사이트
  .favorite {
    &__item {
      margin: rem(8px) 0;
    }
    &__link {
      display: block;
      padding: rem(8px) 0;

      // 반응형으로 폰트사이즈
      //   @include mobile {
      //     &::after {
      //       // 글씨 크기 변하면 레이아웃이...위로 좀 올라가있어서..내림
      //       position: relative;
      //       top: rem(4px);
      //       content: attr(data-tooltip);
      //       margin-left: rem(8px);
      //       display: inline-block;
      //       color: $orange;
      //       // 최소 12px, 최대 18px로 글자크기가 유연하게...
      //       font-size: clamp(0.75rem, 4vw, 1.125rem);
      //       @include ellipsis;
      //     }
      //   }
    }
  }

  // 트위터
  .twitter {
    &__userInfo {
      // 아이템이 inline처럼 쌓임
      display: inline-flex;
      margin-bottom: rem(12px);
    }
    &__userProfile {
      // figure요소
      width: rem(100px);
      height: rem(100px);
      border-radius: 50%;
      overflow: hidden;
      background-color: skyblue;

      //----- 이미지 띄우기
      float: right;
      // 브라우저에서 제공은 잘안하지만.. 그래도 이쁘게!
      // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Shapes/Overview_of_CSS_Shapes
      shape-outside: circle(50%);
    }
    &__userProfileImage {
      // max-width: 100%;
      // 컨테이너에 맞춰서 줄어들고 커짐. 최대 원본이미지 까지.
      @include responsive;
    }
    &__date {
      display: block;
      margin-top: rem(8rem);
    }
  }

  @include mobile {
    padding: 0 rem(20px);
  }

  @include desktop {
    // 레이아웃 바꾸면서 놀아보기!
    @include boxSizeMax($paddingX: 20px);
    display: grid;
    gap: rem(20px);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    // grid-template-areas:
    //   "news news news news news news news news news news news news"
    //   "book book book book favorite favorite favorite twitter twitter twitter twitter twitter"
    //   "book book book book . board board board board board board board ";
    grid-template-areas:
      "book book book book news news news news news news news news"
      "board board board board favorite favorite favorite twitter twitter twitter twitter twitter";
    .book {
      // 시작 행/ 시작 열/ 종료 행/ 종료 열
      // grid-area: 2 / 1 / 4 / 5;
      grid-area: book;
    }

    .news {
      // grid-area: 1/ 1/ 2/ 13;
      grid-area: news;
    }

    .board {
      // grid-area: 3/ 6/ 4/ 13;
      grid-area: board;
    }

    .favorite {
      // grid-area: 2/ 5/ 3/ 9;
      grid-area: favorite;
    }

    .twitter {
      // grid-area: 2/ 8 / 3 /13;
      grid-area: twitter;
    }
  }
}
