// button
@use './../utils/' as *;

.button {
  appearance: none;
  border: 0;
  background-color: $black;
  color: $white;
  padding: rem(8px) rem(16px);
  font-size: rem(14px);
  border-radius: 4px;

  // buttonNone : 햄버거 같이, 스타일링이 딱히 없는애
  &None {
    appearance: none;
    border: 0;
    padding: 0;
    background-color: transparent;
  }

  // button--primary
  &--primary {
    background-color: $brown;
  }

  // 햄버거 버튼
  &--burger {
    position: relative;
    width: rem(48px);
    height: rem(48px);

    &BarTop,
    &BarMiddle,
    &BarBottom {
      position: absolute;
      display: block;
      width: 100%;
      height: 20%;
      background-color: $white;
      left: 0;
      border-radius: rem(10px);
    }
    &BarTop {
      top: 0px;
    }
    &BarMiddle {
      top: 50%;
      transform: translateY(-50%);
    }
    &BarBottom {
      top: 100%;
      transform: translateY(-100%);
    }
  }
}
