@use './../utils' as *;
@use './../components' as *;

.full-chat {
  &__container {
    @include basicStyle;
    @include boxShadow;
    width: 49%;
    background-color: $white;
  }
  &__item {
    @include flexbox;
    width: 100%;
    position: relative;
  }
  &__user-name {
    position: absolute;
    top: 0;
  }
  &__item-msg {
    background-color: $mint;
    width: 80%;
  }
}
