@use './../utils' as *;
@use './../components' as *;

.info {
  &__container {
    @include basicStyle;
    @include boxShadow;
    width: 49%;
    background-color: $sky-blue;
    height: 75vh;
    overflow: scroll;
  }

  &__header {
    display: grid;
    grid-template-areas: 'icon timer profile';
    grid-template-columns: 2fr 6fr 2fr;

    img {
      width: 100%;
      grid-area: icon;
    }
  }
  &__time {
    @include flexbox($direction: column, $flex-wrap: wrap, $justify-content: space-between);
    width: 50%;
    height: span {
      display: block;
    }
    .timer {
      font-size: rem(40px);
    }
  }
  &__profile {
    &__profile-img {
      display: block;
    }
    &__profile-name {
      display: block;
    }
  }
  &__game-status {
    display: block;
    padding: rem(20px) 0;
    font-size: rem(20px);
  }

  &__message {
    @include flexbox($justify-content: center);

    &-title {
      display: block;
      font-size: rem(20px);
      width: 30%;
      padding: rem(20px);
      text-align: center;
      line-height: rem(70px);
    }
    &-content {
      @include boxShadow;
      display: block;
      align-self: center;
      background-color: $white;
      border-radius: rem(10px);
      width: 70%;
      height: rem(70px);
      margin: rem(20px) 0;
      font-size: rem(30px);
      text-align: center;
      line-height: rem(70px);
    }
  }

  &__users {
    fieldset {
      background-color: $white;
      @include basicStyle();
    }
    img {
      width: 20%;
    }
  }
}
