@use './../utils' as *;
@use './../components' as *;

// 데스크탑
@include respond-above(md) {
  .info {
    &__container {
      width: 49%;
      height: 80vh;
      @include flexbox($justify-content: space-around, $direction: column);
      overflow-y: auto;
    }
    &__profile {
      img {
        width: 80%;
      }
    }
  }
}

// 모바일
@include respond-below(md) {
  .info {
    &__container {
      width: 100%;
      height: 70vh;
      @include flexbox($justify-content: center, $direction: column);
    }
    &__profile {
      img {
        min-width: rem(80px);
        max-width: rem(100px);
      }
    }
  }
}

.info {
  &__container {
    @include boxShadow;
    @include basicStyle;

    // height: 75vh;

    background-color: $day-background-color;
    padding: 2%;

    &.pending,
    &.beginning {
      background-color: $initial-background-color;
    }

    &.day {
      background-color: $day-background-color;
    }

    &.night {
      background-color: $night-background-color;
      color: $night-font-color;
    }
  }

  &__header {
    @include flexbox($align-items: center);
    // display: flex;
    // justify-content: center;
    // align-items: flex-end;
    width: 100%;
    padding: 10px;
    // margin-top: -1%;
  }

  &__img-pending,
  &__img-beginning {
    width: 25%;
    max-height: 70px;
  }
  &__img-day {
    width: 15%;
    max-height: 100px;
  }
  &__img-night {
    width: 15%;
    max-height: 100px;
  }

  &__time {
    width: 50%;

    span {
      display: block;
      margin-left: 20px;
      font-size: rem(20px);
    }
    .timer {
      margin-left: 10px;
      font-size: rem(40px);
    }
  }
  &__profile {
    width: 30%;
    position: relative;

    img {
      @include autoMargin();
      // width: 80%;

      display: block;
    }
    &-name {
      display: block;
      text-align: center;
    }
  }
  &__game-status {
    display: block;
    font-size: rem(20px);
    text-align: center;
  }

  &__message {
    @include flexbox($justify-content: center);
    gap: rem(10px);

    &-title {
      @include flexbox(row, center, center);
      font-size: rem(20px);
      width: 20%;
      padding: rem(20px);
      text-align: center;
      vertical-align: middle;
      line-height: rem(35px);
      word-break: keep-all;
    }
    &-content {
      @include boxShadow;
      display: block;
      align-self: center;
      background-color: $white;
      border-radius: rem(10px);
      width: 80%;
      height: rem(70px);
      margin: rem(20px) 0;
      font-size: rem(30px);
      text-align: center;
      line-height: rem(70px);
      color: black;
    }
  }

  &__users {
    position: relative;
    padding-top: 30px;
    // overflow-y: auto;

    fieldset {
      background-color: $white;
      @include basicStyle();
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
      padding: 10px 10px;
      min-height: rem(260px);
      color: $black;
    }

    legend {
      position: absolute;
      top: 0;
      left: 10px;
    }

    label {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      min-height: rem(120px);
    }

    input {
      @include a11yHidden();
    }

    input:checked ~ img {
      border: 3px solid red;
      border-radius: 50%;
    }

    input ~ img {
      border: 0;
    }

    img {
      // width: 50%;
      max-width: rem(80px);
      border: 0;
      cursor: pointer;
    }

    &-name {
      display: block;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      visibility: visible;
      border: 1px solid red;
      background-color: red;
      color: white;
      border-radius: 5px;
      transition: top 1s ease;
    }

    button.deactivate {
      position: absolute;
      top: 35px;
      right: 0;
      visibility: hidden;
      border: 1px solid red;
      background-color: red;
      color: white;
      border-radius: 5px;
    }
  }
}
