@use './../utils' as *;
@use './../components' as *;

.info {
  &__container {
    border-radius: 3%;
    padding: 10px;
    overflow: hidden;
    background-color: pink;
  }

  &__header {
    @include flexbox(row, nowrap);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
    margin-top: -1%;

    // background-color: lime;
  }

  &__fish-img {
    width: 25%;
    height: 15%;
    max-height: 70px;
  }
  &__day-img {
    width: 15%;
    height: 10%;
    max-height: 100px;
  }
  &__night-img {
    width: 15%;
    height: 20%;
    max-height: 100px;
  }
  &__time {
    width: 50%;

    span {
      display: block;
      margin-left: 20px;
      font-size: rem(20px);
    }
    .timer {
      margin-left: 10px;
      font-size: rem(40px);
    }
  }
  &__profile {
    width: 30%;
    position: relative;

    img {
      @include autoMargin();
      width: 60%;

      display: block;
    }
    &-name {
      display: block;
      text-align: center;
    }
  }
  &__game-status {
    margin: rem(10px) auto;
  }

  &__message {
    @include flexbox($justify-content: space-between);
    &-title {
      font-size: rem(20px);
    }
    &-content {
      display: block;
      background-color: $white;
      width: 50%;
      height: rem(50px);
      justify-content: center;
      text-align: center;
      @include basicStyle();
    }
  }

  &__users {
    fieldset {
      background-color: $white;
      @include basicStyle();
    }
    img {
      width: 20%;
    }
  }
}
