@use './../utils' as *;
@use './../components' as *;

.info {
  &__container {
    @include basicStyle;
    @include boxShadow;
    width: 49%;
    background-color: $sky-blue;
    height: 75vh;
    overflow: scroll;
  }

  &__header {
    @include flexbox(row, nowrap);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
    margin-top: -1%;
  }

  &__fish-img {
    width: 25%;
    height: 15%;
    max-height: 70px;
  }
  &__day-img {
    width: 15%;
    height: 10%;
    max-height: 100px;
  }
  &__night-img {
    width: 15%;
    height: 20%;
    max-height: 100px;
  }
  &__time {
    width: 50%;

    span {
      display: block;
      margin-left: 20px;
      font-size: rem(20px);
    }
    .timer {
      margin-left: 10px;
      font-size: rem(40px);
    }
  }
  &__profile {
    width: 30%;
    position: relative;

    img {
      @include autoMargin();
      width: 60%;

      display: block;
    }
    &-name {
      display: block;
      text-align: center;
    }
  }
  &__game-status {
    display: block;
    padding: rem(20px) 0;
    font-size: rem(20px);
  }

  &__message {
    @include flexbox($justify-content: center);

    &-title {
      display: block;
      font-size: rem(20px);
      width: 30%;
      padding: rem(20px);
      text-align: center;
      line-height: rem(70px);
    }
    &-content {
      @include boxShadow;
      display: block;
      align-self: center;
      background-color: $white;
      border-radius: rem(10px);
      width: 70%;
      height: rem(70px);
      margin: rem(20px) 0;
      font-size: rem(30px);
      text-align: center;
      line-height: rem(70px);
    }
  }

  &__users {
    position: relative;
    padding-top: 30px;

    fieldset {
      background-color: $white;
      @include basicStyle();
      // display: flex;
      // flex-wrap: wrap;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      padding: 20px 10px;
    }

    legend {
      position: absolute;
      top: 0;
      left: 10px;
    }

    label {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      min-height: 100px;
    }

    input {
      @include a11yHidden();
    }
    img {
      width: 60%;
    }

    &-name {
      display: block;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      border: 1px solid red;
      background-color: red;
      color: white;
      border-radius: 5px;
    }
  }
}
