@use './../utils' as *;
@use './../components' as *;
@use './full-chat' as *;

.hidden {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $gray1;
}

.main {
  @include boxSizeMax(1200px);
  @include basicStyle;
  @include flexbox($justify-content: space-between, $flex-wrap: wrap);
}
.info {
  &__time {
    .timer {
      font-family: 'Major Mono Display', monospace;
    }
  }
  &__message-content {
    font-family: 'Gaegu', cursive;
  }
}
.info__container {
  width: 49%;
}

// 채팅 입력창
.chat-form {
  width: 100%;
  margin-top: 2%;
  @include flexbox($justify-content: space-between);
  input {
    width: 89%;
    padding: rem(10px);
    border: 0;
    border: 1px solid $gray2;
    border-radius: rem(10px);
    @include boxShadow;
  }
  button {
    width: 10%;
    border-radius: rem(5px);
    border: 0;
    color: $black;
    background-color: $white;
    @include boxShadow;
  }
  .isActiveBtn {
    color: $white;
    background-color: $blue;
  }
}
