// _navigation.scss
@use './../utils/' as *;
@use './../components/' as *;

.menu {
  @include desktop {
    background-color: $brown;
    padding: rem(16px);
  }

  &__list {
    @include mobile {
      position: fixed;
      top: 0;
      left: 0;
      // is-active 아닐 때는 숨김
      transform: translateX(-150%);
      transition: all 0.2s ease;
      width: 70%;
      height: 100vh;
      background-color: rgba($darkbrown, 0.75);
      padding: rem(32px);
    }

    @include desktop {
      @include boxSizeMax($paddingX: 20px);
      @include flexbox(row, space-between, center, nowrap);
      font-size: rem(18px);
    }
  }

  &__item {
    @include mobile {
      // 경계선 여백
      margin-bottom: rem(16px);
    }
  }

  &__link {
    display: block;
    padding: rem(8px);
    font-weight: 500;
    color: $white;
  }
}

// 모바일에서 메뉴버튼 눌렀을 때..
.menu.is-active {
  .menu__list {
    transform: none;
  }
}
